@using Clf.Blazor.Basic.Components.Controls.Enums;
@using Clf.Blazor.Basic.Components.Controls.Helpers;
@using Clf.Blazor.Basic.Components.Controls.Interfaces;
@using Clf.Blazor.Basic.Components.Controls.Models;
@* @using Clf.Blazor.Basic.Components.Controls.Widgets.Containers
@using Clf.Blazor.Basic.Components.Controls.Widgets.Helpers *@
@using Microsoft.AspNetCore.Components.Web
@inherits WidgetBase
@implements IDisposable
<CascadingValue Value="@ShowPopup">
  <div class="clf-drop-down-wrapper">
  <Tooltip Text="@(ShowTooltip? TooltipText:string.Empty)">
      <label class="clf-drop-down-button drop-down-button @Class" style="--drop-down-button-width: @GetWidth(); --drop-down-button-height:@GetHeight();">
        <input type="checkbox" class="drop-down-toggle"
        @bind="@ShowPopup"
        @onclick="OnDropDownButtonClicked" />
        <div class="clf-button-body">
          @if (Icon != null)
          {
            @Icon
          }
          else
          {
            if (string.IsNullOrEmpty(IconId) == false)
            {
              <SingleColourIcon class="clf-icon-small" IconId="@IconId" />
            }
          }
          @if (string.IsNullOrEmpty(Text) == false)
          {
            @Text
          }
        </div>
      </label>
  </Tooltip>
  @ChildContent
</div>
</CascadingValue>


@code {
    [Parameter]
    public string Text { get; set; } = string.Empty;


  [Parameter]
  public RenderFragment? Icon { get; set; }

  [Parameter]
  public string? IconId { get; set; }

  [Parameter]
  public RenderFragment? ChildContent { get; set; }

  public bool ShowPopup { get; private set; } = false;

  protected override void OnInitialized()
  {
    base.OnInitialized();
    // Set default width and height if values are set to zero
    this.Width = this.Width == 0 ? 200 : this.Width;
    this.Height = this.Height == 0 ? 40 : this.Height;

  }

  private string GetWidth()
  {
    return Width != null ? $"{Width}px" : "max-content";
  }

  private string GetHeight()
  {
    return Height != null ? $"{Height}px" : "var(--clf-action-button-default-height)";
  }

  private void OnDropDownButtonClicked()
  {
    ShowPopup = !ShowPopup;
  }

  void IDisposable.Dispose()
  {
    
  }
}
